ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #568088;
    font-family: monospace;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #568088;
}
body {
    background-image: url(hate\ crimes.jpeg);
    background-size: contain;
    font-family: monospace;
    font-size: 23
}
img {
    border-style: solid;
    border-color: rgb(207, 18, 207);
}
p {
    color:#001aff; background-color: whitesmoke;
}
h2 {
    color: rgb(199, 36, 172);
}